.inpt {
	text-align:left;
	margin: auto;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	position:absolute;
	top:40%;
	left:30%;
	width:500px;
	height: 100px;
	scroll-behavior: auto;
	border-radius: 20px;
	border-color: white;
	border-width: 10px;
	background-color: white;
	opacity: 0.4;
	resize: none;
}

.inpt-snake {
	text-align:center;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
	width:500px;
	height: 50px;
	scroll-behavior: auto;
	border-radius: 20px;
	border-color: white;
	border-width: 1px;
	border-color: white;
	color: white;
	background-color: black;
	opacity: 0.4;
	resize: none;
}

.btn-snake {
	width:200px;
	height:52px;
	cursor: pointer;
	color: white;
	font-size: 20px;
	background-color: blue;
	border-color: black;
	border-width: 2px;
	border-radius: 20px;
	opacity: 0.5;
}

.bgimg {
	position: absolute;
	background-image: url("cup-hot-coffee.jpg");
	background-repeat: no-repeat;
	width: 400px;
	opacity: 0.2;
	height: 800px;
}

.btn {
	position:absolute;
	left:30%;
	width:100px;
	cursor: pointer;
	color: white;
	background-color: black;
	border-color: black;
	border-width: 5px;
	border-radius: 20px;
	opacity: 0.5;
}

img {
	opacity: 0.4;
	border-radius: 20px;
	position: absolute;
	width: 900px;
	height: 397px;
	left: 17%;
	top: 20%;
}

.canvass {
	width:400;
	height:400;
	position: absolute;
	top:80%;
	left:70%;
}
.msg {
	letter-spacing: 3px;
	position: absolute;
	left: 20%;
	top:80%;
	text-align:center;
	color:"white";
}